@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles
    {
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style2.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
}

    <div class="hero_area">
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h5>
                                            Bostorek Bookstore
                                        </h5>
                                        <h1>
                                            For All Your <br>
                                            Reading Needs
                                        </h1>
                                        <p>                                           
                                        Bookstore works to connect readers with independent booksellers all over the world.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="images/slider-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- catagory section -->

    <section class="catagory_section layout_padding">
        <div class="catagory_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Books Categories
                    </h2>
                    <p>
                        There are dozens of different book genres, from adventure fiction to self-help books. 
                        Many books also fall into multiple genres, and there are some well-known crossovers, 
                        such as fantasy and science fiction, or crime and mystery novels.
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/cat1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Textbooks
                                </h5>
                                <p>
                                A written source of information, designed specifically for the use of students, on a 
                                particular subject or field of study that is usually developed based on a syllabus 
                                and geared towards meeting specific quality and learning requirements.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/cat2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Science
                                </h5>
                                <p>
                                    A science book is a work of nonfiction, usually written by a scientist, 
                                    researcher, or professor like Stephen Hawking (A Brief History of Time), or sometimes by a 
                                    non-scientist such as Bill Bryson (A Short History of Nearly Everything).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/cat3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    History
                                </h5>
                                <p>
                                    The best history books, perfect for learning more about the past, 
                                    recommended by leading historians and experts in their subjects.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/cat4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Biography
                                </h5>
                                <p>
                                    There are millions of real-life stories out there just waiting to be told. 
                                    Unlike autobiographies and memoirs, which the author writes about themselves, 
                                    biographies tell the story of someone else’s life.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/cat5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Adventure
                                </h5>
                                <p>
                            Adventure novels whisk readers off to faraway lands.
                            Unlike fantasy novels, 
                            they tend to stay in the real world (although there’s often a lot of crossover between these genres).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/cat6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Fantasy
                                </h5>
                                <p>
                                    Fantasy books are probably the most popular modern book genre. 
                                    Thanks to series like Harry Potter and Percy Jackson, it’s 
                                    particularly popular with young adult readers, although more and more 
                                    fantasy novels are written for adults (George RR Martin, we’re looking at you).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About Our Bookstore
                            </h2>
                        </div>
                        <p>
                          We believe local bookstores are essential community hubs that foster culture, curiosity, and a 
                          love of reading, and we're committed to helping them thrive.
                            Every purchase on the site financially supports independent bookstores
                            .Our platform gives independent bookstores 
                            tools to compete online and financial support to help them maintain their presence in local communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->

    <section class="client_section layout_padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    What Says Customers
                </h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                I'm so happy Bookshop exists. For many reasons, but most recently because my brand new chapbook of poems 
                                (my first book, so everything is a learning experience) 
                                did not appear on any of the online sellers with the cover image.
                            </p>
                            <span>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/c1.jpg" alt="">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Jone Mark
                                </h5>
                                <h6>
                                    Student
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                I'm quite passionate about avoiding the 'evil conglomerates' if I can (I don't always manage it!). So having an independent bookshop website to use is awesome. 
                                Great suggestions, everything arrived as it should, and 
                                I'm supporting wonderful independents when there isn't one in my area.
                            </p>
                            <span>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/c2.jpg" alt="">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Anna Crowe
                                </h5>
                                <h6>
                                    Student
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                I accidentally updated the billing address on an order rather than the shipping address, 
                                which resulted in both addresses being incorrect. 
                                Bookshop actually sent out a second order with the correct shipping and billing addresses before they received the first order back. They also didn't charge me anything extra! It was one of the best online support experiences I've ever had.
                            </p>
                            <span>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/c3.jpg" alt="">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Hilley James
                                </h5>
                                <h6>
                                    Student
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->

    <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          From Our Blog
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="images/b1.jpg" alt="">
              <h4 class="blog_date">
                <span>
                  19 December 2022
                </span>
              </h4>
            </div>
            <div class="detail-box">
              <h5>
               Gift guide: Books adapted into series, movies
              </h5>
              <p>
               There were so many amazing TV series and movies released in 2022, 
               whether you streamed, binged, went to a movie theater, or all of the above. Before these stories landed on screen, they were books first—and they make great holiday gifts.
               </p>    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="images/b2.jpg" alt="">
              <h4 class="blog_date">
                <span>
                   19 December 2022
                </span>
              </h4>
            </div>
            <div class="detail-box">
              <h5>
               If you read one book this week
              </h5>
              <p>
                With the bevy of great books on offer it can be overwhelming figuring out what to read next. 
                Let us help! Especially when our selections this week are as varied as our tastes (so, very varied).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="heading_container ">
            <h2 class="">
              Contact Us
            </h2>
          </div>
          <form action="#">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Pone Number" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn-box">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/contact-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

   