@page
@using Bookshop.BusinessLogic.Extensions
@model Bookshop.WebApp.Pages.Book.EditModel
@{
}

@section Styles
    {
    <link href="@Url.Content("~/css/book.css")" rel="stylesheet" type="text/css" />
}

<h1>Edit book</h1>
<form method="post" class="mt-3">
    @*<input hiden asp-for="Book.Id"/>*@

@*    <div class="form-group row">
        <label asp-for="Book.Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Book.Title" class="form-control" placeholder="Title"/>
        </div>
    </div>
*@
    <div class="mt-4">
        @*Temporary*@
        <button type="submit" class="btn btn-primary" asp-page="/Book/List">Save changes</button>
        <a class="btn btn-secondary" asp-area="" asp-page="/Book/List">Cancel</a>
    </div>
</form>
