
@page
@using Bookshop.Contracts.Constants
@model Bookshop.WebApp.Pages.Book.ListModel
@{
}
@section Styles
    {
    <link href="@Url.Content("~/css/book.css")" rel="stylesheet" type="text/css" />
}
<div>
    <h3>Books</h3>
    <div class="col text-end">
    <select class="btn btn-primary" name="languages">
        <option value="select">Select a filter</option>
        <option>Filter by author</option>
        <option>Filter by price</option>
        <option>Filter by title</option>
        <option>Filter by discount</option>
    </select>

        <form action="/Book/Add" class="btn btn-primary">
            <input class="btn btn-primary" value="Add order" style="width: 130px" name="submit" type="submit">
        </form>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item d-none d-md-block">
        <div class="row">
            <div class="col-md-2">
                ISBN
            </div>

            <div class="col-md-2">
                Title
            </div>

            <div class="col-md-2">
                Author
            </div>

            <div class="col-md-2">
                Price
            </div>

            <div class="col-md-2">
                Discount
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </li>
    <li class="list-group-item d-none d-md-block">
        <div class="row">
            <div class="col-md-2">
                978995549770
            </div>

            <div class="col-md-2">
                If I Stay
            </div>

            <div class="col-md-2">
                Gayle Forman
            </div>

            <div class="col-md-2">
                6.38
            </div>

            <div class="col-md-2">
                50
            </div>
            <div class="col-md-2">

                @if (User.IsInRole(BookshopRoles.Client) || User.IsInRole(BookshopRoles.Manager) || User.IsInRole(BookshopRoles.Administrator))
                {
                    <button class="btn btn-danger" data-toggle="reviewModal" data-target="#exampleModal" style="margin-right: 10px">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                }
                @if (User.IsInRole(BookshopRoles.Manager) || User.IsInRole(BookshopRoles.Administrator))
                {
                    <a style="margin-right: 10px" class="btn btn-primary" asp-area="" asp-page="/Book/Edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                }

                @if (User.IsInRole(BookshopRoles.Administrator))
                {
                    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="margin-right: 10px">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                }
            </div>
        </div>
    </li>
</ul>

<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove</h5>
                <button type="button" class="btn-close" onClick="closeWindow()">
                </button>
            </div>
            <div class="modal-body text-start">
                <p>Are you sure you want to remove this book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onClick="closeWindow()">Remove</button>
                <button type="button" class="btn btn-secondary" onClick="closeWindow()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove</h5>
                <button type="button" class="btn-close" onClick="closeWindow()">
                </button>
            </div>
            <div class="modal-body text-start">
                <p>ISBN : 978995549770</p>
                <p>Title : If I Stay</p>
                <p>Author : Gayle Formanr</p>
                <p>Year : 209</p>
                <p>Pages : 210</p>
                <p>Description : 17-year-old Mia Hall is an aspiring concert cellist living in Portland, Oregon with her parents and younger brother Teddy. When school is closed one day on account of the snowy weather, the family decides to go for a morning drive, but ice on the roads causes their car to swerve into another lane, where a car crashes into theirs. Mia awakens to find the bodies of her parents, who have died upon impact. Mia comes across her own severely injured body and realizes she is having an out of body experience. She follows her physical body to the hospital, where she watches her extended family rushing to take care of her while her best friend Kim and her boyfriend Adam struggle to reach the hospital. </p>
                <p>Price : 6.38</p>
                <p>Discount : 50</p>
                <p>Genre : Drama</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onClick="closeWindow()">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $('button[data-toggle="modal"]').click(function (event) {
            $('#removeModal').modal('show');
        });

        $('button[data-toggle="reviewModal"]').click(function (event) {
            $('#reviewModal').modal('show');
        });

        function closeWindow() {
            let new_window = open("/Book/List", '_self');
            new_window.close();
            return false;
        }
    </script>
}
