@page
@model Bookshop.WebApp.Pages.Order.EditModel
@{
}

@section Styles 
{
    <link href="@Url.Content("~/css/order.css")" rel="stylesheet" type="text/css" />
}

 <div class="row justify-content-center">
    <div class="col-md-4">
        <h3 style="text-align: center">Edit order</h3>
        <label>Customer</label>
        <input class="form-control" />

        <label>Price</label>
        <input class="form-control" />

        <label>Address</label>
        <input class="form-control" />
        
        <label>Date of arrival</label>
        <input class="form-control" />
        <br/>
        <div class="text-center">
            <div class="mt-4">
                @*Temporary*@
                <a class="btn btn-primary" asp-area="" asp-page="/Order/List">Save changes</a>
                    <a class="btn btn-secondary" asp-area="" asp-page="/Order/List">Cancel</a>
            </div>
        </div>

    </div>





