@page
@model Bookshop.WebApp.Pages.Book.ListModel
@{
}
@section Styles
    {
    <link href="@Url.Content("~/css/order.css")" rel="stylesheet" type="text/css" />
}

<h3>Books</h3>

<ul class="list-group">
    <li class="list-group-item d-none d-md-block">
        <div class="row">

              <div class="col-md-2">
                    Užsakovo vardas ir pavardė
              </div>

            <div class="col-md-2">
                Data
            </div>

            <div class="col-md-2">
                Suma
            </div>

            <div class="col-md-2">
                Adresas
            </div>

            <div class="col-md-2">
                Pristatymo būdas
            </div>

            <div class="col-md-2">
                Planuojamas pristatymas
            </div>
        </div>
    </li>

    </ul>