@page
@model Bookshop.WebApp.Pages.Order.ReportModel
@{
}


@section Styles 
{
    <link href="@Url.Content("~/css/order.css")" rel="stylesheet" type="text/css" />
}


<ul class="list-group">
   <h3> Invoice</h3>
  <li class="list-group-item">Customer: Greta Gabrenaite</li>
  <li class="list-group-item">Bought books</li>
  <ol class="list-group-flush list-group-numbered">
  <li style="margin-left: 30px" class="list-group-item">Dystopian Price: 20</li>
            <li style="margin-left: 30px" class="list-group-item">True Crime Price: 20</li>
            <li style="margin-left: 30px" class="list-group-item">Parenting & Families Price: 20</li>
   </ol>
        <li class="list-group-item">In total: 60</li>
</ul>
