.client-image {
    border-radius: 50px;
    max-width: 25px;
    min-width: 25px;
}

.role-indicator {
    color: white;
    font-weight: bold;
    border-radius: 25px;
    background-color: dimgray;
    padding: 3px 10px;
}

@media (max-width: 768px) {
    .actions-container {
        text-align: left !important;
    }
}

/* Report */
.active-report-item {
    background-color: lightgray !important;
}

.order:hover {
    background-color: lightgray !important;
    cursor: pointer;
}

.hidden {
    display: none;
}