@page
@model Bookshop.WebApp.Pages.Suppliers.EditModel
@{
}

@section Styles 
{
    <link href="@Url.Content("~/css/suppliers.css")" rel="stylesheet" type="text/css" />
}

 <div class="row justify-content-center">
    <div class="col-md-4">
        <h3 style="text-align: center">Edit supplier</h3>
        <label>Name</label>
        <input class="form-control" />

        <label>Email</label>
        <input class="form-control" />

        <label>Phone number</label>
        <input class="form-control" />
        
        <label>Address</label>
        <input class="form-control" />
        <br/>
        <div class="text-center">
            <div class="mt-4">
                @*Temporary*@
                <a class="btn btn-primary" asp-area="" asp-page="/Suppliers/List">Save changes</a>
                <a class="btn btn-secondary" asp-area="" asp-page="/Suppliers/List">Cancel</a>
            </div>
        </div>

    </div>





