@page
@model Bookshop.WebApp.Pages.Suppliers.ReportModel
@{
}


@section Styles 
{
    <link href="@Url.Content("~/css/suppliers.css")" rel="stylesheet" type="text/css" />
}


<ul class="list-group">
  <li class="list-group-item">Supplier's name: Kauno grūdas</li>
  <li class="list-group-item">Most popular genres:</li>
  <ol class="list-group-flush list-group-numbered">
  <li style="margin-left: 30px" class="list-group-item">Dystopian</li>
  <li style="margin-left: 30px" class="list-group-item">True Crime</li>
  <li style="margin-left: 30px" class="list-group-item">Parenting & Families</li>
   </ol>
</ul>
